#tweet-strip
    .tweet-container
        %img.foo{src: 'foo.jpg'}
        .tweet
            .text Man, I can't believe I slept through that.
            .user @andrewhao
            .meta posted 3 days ago