#clip
    #tweet-strip
        .tweet-container
            .identifier
                %img{src: 'http://a2.twimg.com/profile_images/1242000727/168437_1755942574254_1109663680_32069890_3928510_n_normal.jpg'}
                .from_user @andrewhao
            .tweet
                .text Man, I can't believe I slept through that.
                .created_at posted 3 days ago