#first-tweet-overlay
    .tweet-container
        .identifier
            %img
            .from_user g9labs
        .tweet
            .text sdflksdjfsd
            .created_at Created 3 fm
        
#highlight-overlay
#tweet-clip
    #tweet-strip