!!! Strict
%html(lang="en")
  %head
    %title&= title
    %script{type: "text/javascript", src: "/socket.io/socket.io.js"}
    %script{type: "text/javascript", src: "/is61.js"}
    %script{type: "text/javascript", src: "https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"}
    %style{type: "text/css", media="screen"}
        p { font-family: "Helvetica"; font-size: 1.2em}
  %body
    = body