body {
    text-align: center;
/*    background-color: #7b7b7b;*/
    background-color: #FFF;
    font-family: "Helvetica Neue";
    position: relative;
    padding: 0;
    margin: 0;
}
#highlight-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}
#tweet-clip {
    width: 100%;
    overflow: hidden;
}

#tweet-strip {
    position: relative;
    width: 700px;
    margin: 0 0 0 500px;
/*    padding-top: 400px; */
    text-align: left;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.tweet-container {
    padding: 1em 0;
    width: 100%;
    overflow: hidden;
/*    background-color: #E11F26; */
}

.tweet-container .identifier {
/*  
    background-color: #CCC;
    border: 5px solid #AAA;
    border-radius: 10px;
*/
    margin: 2em 0;
}

.identifier img {
    height: 48px;
    width: 48px;
    float: left;
    box-shadow: -1 -1px 1px #AAA;
}

.identifier .from_user {
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
    float: left;
    margin-left: 10px;
    text-shadow: 0 -1px 1px #AAA;
}
.tweet-container .tweet {
    clear: both;
    overflow: hidden;
}
.tweet .text  {
    font-size: 2em;
    font-weight: bold;
    color: #555;
    margin: .5em 0;
    text-shadow: 0 -1px -1px #333;
}
.tweet .created_at {
    font-family: "Garamond";
}
