body {
    text-align: center;
/*    background-color: #7b7b7b;*/
    background-color: #FFF;
    font-family: "Helvetica Neue";
    position: relative;
    padding: 20px;
    margin: 0;
}
#first-tweet-overlay {
    z-index: 11;
    top: 20px;
    left: 20px;
    position: absolute;
    text-align: left;
}

#first-tweet-overlay .tweet-container {
    left: -18em;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transform: skew(25deg);
    -webkit-transform: skew(25deg);
}

#highlight-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}
#content {
    background-color: #BBB;
}
#tweet-clip {
    width: 100%;
    overflow: hidden;
}

#tweet-strip {
    position: relative;
    width: 500px;
    margin: 0 0 0 450px;
/*    padding-top: 400px; */
    text-align: left;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#tweet-strip .tweet-container {
    padding: 1em 0;
    width: 100%;
    overflow: hidden;
/*    background-color: #E11F26; */
}

#tweet-strip .tweet-container .identifier {
/*  
    background-color: #CCC;
    border: 5px solid #AAA;
    border-radius: 10px;
*/
    margin: 2em 0;
}

#tweet-strip .identifier img {
    height: 48px;
    width: 48px;
    float: left;
    box-shadow: -1 -1px 1px #AAA;
}

#tweet-strip .identifier .from_user {
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
    float: left;
    margin-left: 10px;
    text-shadow: 0 -1px 1px #AAA;
}
#tweet-strip .tweet-container .tweet {
    clear: both;
    overflow: hidden;
}
#tweet-strip .tweet .text  {
    font-size: 2em;
    font-weight: bold;
    color: #555;
    margin: .5em 0;
    text-shadow: 0 -1px -1px #333;
}
#tweet-strip .tweet .created_at {
    font-family: "Garamond";
}
